*{
    @media screen and (min-width: 480px) {
        #leftsidebar {width: 200px; float: left;}
        #main {margin-left: 216px;}
      }
    @media screen and (min-width: 480px) {
        body {
          
        }
      }
    margin: 0%;
    padding: 0%;
    
}
body{
    background:linear-gradient(rgb(141, 154, 116),rgb(141, 154, 116));
}
hr{
    color: red;
}
u{
    color: rgb(61, 40, 40);
}

.navbar,.navdiv{
    @media screen and (min-width: 480px) {
        #leftsidebar {width: 200px; float: left;}
        #main {margin-left: 216px;}
      }
    background-color: rgb(16, 17, 17);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 1px;
    margin-bottom: 1px;
    
}
li,a{
    justify-content: center;
    color: rgb(133, 210, 17);
    display: inline-block;
    margin-left: 65px;
    margin-bottom: 0.1px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    cursor:pointer;
    
    
}
a::after{
    position: absolute;
    content: "";
    inset: 0;
    scale: 1 0;
    z-index: -1;
    transition: 0:45s ;
    border-radius: 10px;
}
a:hover{
    color: white;
}
a:hover::after{
    scale: 1 1;
}
button{
    margin-right: 10px;
    padding: 5px;
    background-color: rgb(21, 14, 14);
    color: white;
}
.login{
    color: white;
    background-color: green;
}
button::after{
    position: absolute;
    content: "";
    inset: 0;
    scale: 1 0;
    z-index: -1;
    transition: 0:45s ;
    border-radius: 10px;

}
button:hover{
    cursor: pointer;

}
.color{
    color: black;
    
}
button::after{
    scale:1 1;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.row{
    margin-inline-start: auto;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    float: left;
    margin-left: 20px;
    
    
}
img{
    border-radius: 50%;
}
li{
  padding-top: 15px;
}
h4{
    font-size: x-large;
    font-weight: bolder;
    color: white;
    background-color: blue;
}
.box1,.box2,.box3,.box4,.box5,.box6{
    border-radius: 50%;
    margin-right: 53px ;
}
.
   
    


h2{
    text-align: center;
    color: black;
}

.offer,h2{
    display:inline-flex;
    padding-top: 40px;
}
h2{
    border-style:groove;
    padding-top: 120px;
    background-image: url(/images/whole.jpg );width: 550px;
    color: white ;
    margi
}
h1{
    display: flex;
    border-style:outset;
    border-width: medium;
    color: green;
    text-decoration:wavy;
    align-items:first baseline;
}
.buy{
    display:inline-flex;
    padding-top: 40px;
}
.container{
    
    margin-top: 10px;
    padding-top: 50px;
}
.hurry,h6{
    margin: 0%;
    padding: 0%;
    display: inline-flex;
    margin-bottom: 30px;
    margin-left: 30px;
    padding-top: 40px;
    
    
    
}
h3{
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.zone,h6{
    display: inline-flex;
  padding-top: 90px;
   
}
.div{
    padding-right: 40px;
}
.last{
    justify-content: center;
    display: flex;
    color: white;
}




