*{
    background-color: ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container{
    display: inline-block;
    margin-left: 40%;
}
h1{
    text-align: center;
}
button{
    background-color: green;
    color: white;
    text-decoration: dashed;
    margin-left: 50px;
    
}



